<div class="box">
    <img src="http://static1.squarespace.com/static/538e44e6e4b0ee46dfd7a852/t/54259525e4b06b86fda802fd/1411749176478/sweetbliss-logo.png?format=1500w" width="150" alt="Logo">
    <p>SEE YOU SOON & <br> HAVE A NICE DAY !</p>
</div>
<div class="box">
    <h3>THÔNG TIN CỬA HÀNG</h3>
    <p>ADD: Ho Chi Minh City</p>
    <p>PHONE NUMBER: 0123456789</p>
    <p>EMAIL: sweetblissbakery@gmail.com</p>
</div>
<div class="box">
    <h3>LIÊN HỆ</h3>
    <form action="#">
        <input type="email" placeholder="Địa chỉ email" required>
        <button>Nhận tin</button>
    </form>
</div>